@model List<Models.ACME.EmpresaEntidad>


@{
    ViewData["Title"] = "Empresa";
}

<h5>Empresa</h5>
<div class="container">
    <h6>Lista de Empresa</h6>

    <table class="table table-striped table-sm">

        <thead>
            <tr>
                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model =>Model.ElementAt(0).IDEmpresa)</th>
                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model => Model.ElementAt(0).Empresa)</th>
                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model => Model.ElementAt(0).Direccion)</th
                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model =>Model.ElementAt(0).RUC)</th>
                <th scope="col" style="text-align: center;">@Html.DisplayNameFor(model =>Model.ElementAt(0).Activo)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empresaEntidad in Model)
            {
                <tr>
                    <th scope="row" style="text-align:center;">@empresaEntidad.IDEmpresa</th>
                    <td>@empresaEntidad.Empresa</td>
                    <td>@empresaEntidad.Direccion</td>
                    <td>@empresaEntidad.Activo</td>

                </tr>
            }
        </tbody>

    </table>


</div>

